@import '../../styles/media-queries.css';

.locationDropDownBg {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #696969 !important;
  padding: 0.1rem 0;
  padding-left: 1rem;
}

@media screen and (max-width: 449px) {
  .locationDropDownBg {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 25px;
    margin-bottom: -1rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
